.container {
	max-width: min(
		var(--container-width),
		calc(100% - 2 * var(--container-padding))
	);
	margin-inline: auto;
}

.sections > * + * {
	margin-top: 50px;
}

main {
	max-width: 1500px;
	margin: 0 auto 20px;
}

@media (min-width: 1100px) {
	.sections > * + * {
		margin-top: 150px;
	}
}
