.btn-bordered, 
.btn-filled,
.btn-bordered-white
{
    display: inline-block;
    font-size: 1.125rem;
    line-height: 1.56;
    font-weight: 500;
    padding: 0.75rem 2.25rem;
    border-radius: 2rem;
    border: 1px solid var(--contrast);
    transition: 0.3s;
    width: max-content;

        &:hover {
            background-color: var(--contrast);
            color: var(--text-inverse);
        }
}

.btn-filled {
    background-color: var(--contrast);
    color:var(--text-inverse);
    border-color: var(--contrast-border);

    @media (min-width: 1100px) {
        padding-block: 1.125rem;
    }

    &:hover {
        background-color: var(--text-inverse);
        color: var(--contrast);
    }
}
.btn-bordered-white {
    color: var(--text-inverse);
    border-color: var(--text-inverse);

    &:hover {
        background-color: var(--text-inverse);
        border-color: var(--text-inverse);
        color: var(--contrast);
    }
}
.btn-like {
    z-index: 3;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.87);
    
    border-radius: 100%;
    display: grid;
    place-items: center;

    position: absolute;
    top: 16px;
    right: 16px;
    transition: 0.3s;
    --icon-size: 14px;

        svg {
            width: var(--icon-size);
            height: var(--icon-size);
        }


    &:hover {
        transform: scale(1.1);
        background: rgba(255, 255, 255, 0.6);
        color: var(--contrast);
    }
}

            /**---------------- Media queries --------**/

@media (min-width: 700px) {
    .btn-bordered {
        padding-block: 1.125rem;
    }
}

