.Navbar {
    margin-top: 11px;
    padding-top: 20px;
    padding-bottom: 30px;

    display: flex;
    justify-content: space-between;

    a {
        color: var(--contrast);
        font-weight: bold;
        font-size: 1.75rem;
    }
}

