.product-card_title {
    font-size: 0.725rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--text-dark);
}

.product-card_price {
    font-weight: bold;
    line-height: 1.375;
    color: var(--price);
    white-space: nowrap;
}

.section-title {
    font-size: 1.75rem;
    line-height: 1.42;
    color: var(--text-title);
    font-weight: bold;
}

.banner_title {
    font-size: 2.125rem;
    line-height: 1.4;
    font-weight: 800;
}

.banner_description {
    font-size: 1rem;
    line-height: 1.625;
    font-weight: 600;
}
.text-body {
    line-height: 1.625;
   }

@media (min-width: 1200px) {
    .section-title {
        font-size: 2.625rem;
        line-height: 1.23;
    }
    .product-card_title {
        font-size: 1.375rem;
        line-height: 1.23;
    }
    .product-card_price {
        font-size: 1.75rem;
        line-height: 1;
    }
    .banner_title {
        font-size: 3.75rem;
        line-height: 1.33;
    }
    .banner_description {
        font-size: 1.25rem;
        line-height: 1.6;
   }
   .text-body {
    font-size: 1.25rem;
    line-height: 1.7;
   }
}