.banner_container {
    display: flex;
    width: 98%;
    justify-self: center;
}


.banner {
    --image: url(../../assets/banner2.jpg);
   --width: min(1800px, calc(100% - 2 * var(--container-padding)));
    background:
    linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    var(--image) no-repeat center; 
    background-size: cover;
    margin-inline: auto;
    padding-inline: max(2rem, calc((var(--width) - var(--container-width)) / 2));
    padding-block: 2rem;
    border-radius: 20px;
    color: var(--text-inverse);
    width: var(--width);


    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_description {
    margin-top: 0.725rem;
    margin-bottom: 1.75rem;
}

.banner > * {
    max-width: 750px;
}

@media (min-width: 610px) {
    .banner {
        --image: url(../../assets/banner2.jpg);  
        border-radius: 40px; 
    }   
}

@media (min-width: 1100px) {
    .banner {
        min-height: 412px;
        padding-block: 4rem;
    }   
}
