.section-trending {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    align-items: center;
    position: relative;
    
    .section-title {
        text-align: center;
    }
}

.products-grid {
    display: grid;
    gap: 16px 8px;
    grid-template-columns: 1fr 1fr;
}

.product-card {
    border: solid 2px var(--border);
    background: var(--text-inverse);
    padding: 6px 6px 16px 6px;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
    box-shadow: 2px 3px 30px rgba(208, 185, 181, 0.13);
    display: flex;
    flex-direction: column;

    &:hover {
        border-color: var(--contrast);
    }
    .location {
        margin: 12px 0 14px 8px;
    }
    .product-card_title::after {
        content: '';
        position: absolute;
        inset: 0;
    }
    .btn-like {

        position: absolute;
        top: 16px;
        right: 16px;
    }
}

.product-card-image {
    width: 100%;
    /*height: 124px;*/
    aspect-ratio: 161 / 124;
    height: auto;
    object-fit: cover;
    border-radius: 18px;
}

.product-card_body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-inline: 8px;
    gap: 0.375rem;
    margin-top: auto;
}




                    /** ici on passe à la carte du produit de "continuez vos achats**/
.resume-shopping {
    padding-block: 1.875rem;
    border-radius: 20px;
    background-color: var(--contrast-light);
    position: relative;

        .section-title {
            margin-bottom: 1.875rem;
        }
        .slider-navigation {
            display: none;
            right: 68px;
            top: 68px;
        }

}

.product-card-full {
    scroll-snap-align: center;
    position: relative;
    width: 270px;
    height: 358px;
    border-radius: 32px;
    overflow: hidden;
    isolation: isolate;
    flex:none;
    padding: 22px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;

    color: var(--text-inverse);
    

    .btn-like {
        position: absolute;
        top: 16px;
        right: 16px;
        height: 40px;
        width: 40px;
        --icon-size: 16px;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%, rgba(0,0,0,0.51) 100%);
        z-index: -1;
        transition: 0.3s;
    }   

    &:hover::after {
        transform: translateY(30%);
    }

    &:hover .product-card-full_image {
        transform: scale(1.05);
    }
}
.slider-products {
    display: flex;
    gap: 12px;
    overflow: auto;
    scroll-snap-type: x proximity;
    padding-bottom: 0.5rem;
    margin-bottom: -0.5rem;
    padding-inline: 20px;
}
.product-card-full_image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 0.3s;
}
.product-card-full_body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5rem;
}

.product-card-full_title::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
}
                    
                                        /**---------------- Media queries --------**/

@media (min-width: 700px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem 1.69rem;
    }
    .section-trending {
        gap: 3.125rem;
        align-items: flex-start;
    }
    .section-trending .btn-bordered {
        position: absolute;
        top: -0.3rem;
        right: var(--container-padding);
    }
}


@media (min-width: 1100px) {
    
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem 1.69rem;
    }
    .product-card {
        padding: 12px 12px 24px 12px;
    }
    .product-card .location {
        margin-top: 34px;
        margin-bottom: 14px;
    }
    .product-card-image {
        height: 286px;
    }
    .btn-like {
        width: 40px;
        height: 40px;
        top: 28px;
        right: 28px;
        --icon-size:21px;
    }
    .resume-shopping {
        padding: 68px;
        .section-title {
            margin-bottom: 3rem;
        }
        .slider-navigation {
            display: flex;
        }
    }
    .slider-products {
        gap: 56px;
        overflow: hidden;
        padding-inline: 0;
    }
    .product-card-full {
        width: calc((100% - 2 * 56px) / 3 );
        height: 564px;
    }
}